.menu-bar {
	
	color: #fff; 
	height: 40px;
	line-height: 40px;
	
	background: #77c9d4; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #77c9d4 0%, #57bc90 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #77c9d4 0%,#57bc90 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #77c9d4 0%,#57bc90 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#77c9d4', endColorstr='#57bc90',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	
	}
.menu-search-input {
	width: 90%; 
	color: #333;
	background: #fff;
	border: 1px solid #fff;
	border-radius: 2px;
	text-align: left;
	margin-top: 8px;
	font-size: 14px;
	padding: 2px;
}

.menu-search-button {
	width: 22px;
	height: 22px;
	padding: 3px;
	background: rgba(255,255,255,0.2); 
	border: 1px solid #fff; 
	outline: none;
	border-radius: 2px;
	font-size: 13px !important;
	text-align: center;
	margin-left: 5px;
	color: #fff;
	cursor: pointer;
/*	-webkit-transform: rotate(45deg); 
	-moz-transform: rotate(45deg); 
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	font-weight: 900; */
}

.menu-user {
	font-weight: 700;
	line-height: 32px;
	padding-top: 4px;
}

.menu-items {
	
}

.menu-profile {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	border: 1px solid #fff;
	margin-right: 8px;
	float: left;
}

.side-toggle {
	font-size:30px;
	cursor:pointer;
	color: #fff;
}